/P1 -T6/23-24 - ExempleProjecte1/Pas4_CapaVista/build/
/P1 -T6/23-24 - ExempleProjecte1/Pas3_CapaPersistenciaJDBC/build/
/P1 -T6/23-24 - ExempleProjecte1/Pas1_CapaModel/build/
/P1 -T6/23-24 - ExempleProjecte1/Pas2_InterficiePersistencia/build/
/P1 -T6/23-24 - ExempleProjecte1/999999_SwingUtils/build/
/projecteMP12/WikiLocMila/target/
/projecteMP12/WikiLocMila/nbproject/private/
/projecteMP12/WikiLocMilaBD/nbproject/private/
/projecteMP12/WikiLocMilaModel/nbproject/private/
/projecteMP12/WikiLocMila/build/
/projecteMP12/WikiLocMilaBD/build/
/projecteMP12/WikiLocMilaModel/build/
/projecteMP12 - copia/WikiLocMila/build/
/projecteMP12 - copia/WikiLocMila/nbproject/private/
/projecteMP12 - copia/WikiLocMilaBD/build/
/projecteMP12 - copia/WikiLocMilaBD/nbproject/private/
/projecteMP12 - copia/WikiLocMilaModel/build/
/projecteMP12 - copia/WikiLocMilaModel/nbproject/private/
/projecteMP12(copia)/WikiLocMila/build/
/projecteMP12(copia)/WikiLocMila/nbproject/private/
/projecteMP12(copia)/WikiLocMilaBD/build/
/projecteMP12(copia)/WikiLocMilaBD/nbproject/private/
/projecteMP12(copia)/WikiLocMilaModel/build/
/projecteMP12(copia)/WikiLocMilaModel/nbproject/private/
/projecteMP12/P1-T5-CapaBD/nbproject/private/
/projecteMP12/P1-T5-CapaModel/nbproject/private/
/projecteMP12/P1-T5-InterficiePersistencia/nbproject/private/
